/* document information -Document Pays theme -Version : 1.0.0 -Auteur : Jérôme Corbonnois */
/* Colors
    - default body text black
    -h1
    -h2
    -h3
   
    - button
    - button:hover
   
    -border
    
*/

/* Fonts

    -default calistoga
    -subtitle
    -
    -
    -
    
*/

/*CSS DIRECTORY

    1.= GOLBAL
    2.= HEADER  


*/

/* GLOBAL

============================================ */

html {
    background-color: #fff;



}



img {}


h1 {
    font-family: "calistoga", serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 6px
}

p {
    font-family: "calistoga", serif;
    color: white;
    text-transform: uppercase
}


h2, h3, h4 {
    font-family: "calistoga", serif;
    text-transform: uppercase;
    color: black
    
    
}

#paragraphe {
color: dimgrey
    
}
    
img {
    width: 5s00px;
    height: 400px
}

h2{
text-align: center    
}


.actus:hover{
    transform: translateX(15px);
transition: 1s
}






section{
    padding: 30px 0 60px 0;
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

.menus{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0,0.3) ;
    
    
}

.menus img{
    display: block;
    margin: 0 auto;
    width: 80%;
    
}

.galerie-img {
    height: 300px;
    display: block;
   background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 20px;
}


.galerie-titre{
    position: absolute;
    bottom: 20px;
    left: 20px;
    
    
}


#JT{
   position: absolute;
    top: 10px;
    right: 10px;
    
}

blockquote{
    padding: 5px;
    font-style: italic;
    line-height: 130%;
    
    
}

cite{
    font-size: 90%;
    display: block;
    margin-top: 20px;
    
    
    
}

cite img{
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
    
    
    
    
}

.sortie{
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    border-radius: 10px;
    
}



.sortie-title p{
    color: dimgrey;
    margin-left: 10px;
    
}


.sortie-content ul li i{
    font-size: 90%;
    margin-right: 10px;
    
}


.sortie-signup{
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 15px;
    
}

h3{
  margin-left: 10px;  
    color: dimgrey;
    
    
}

.margin{
    margin-left: 10px;
    padding-bottom: 15px;
}


.pages{
    color: dimgrey;
    
}

#email{
  
    
}

#demande{
    padding: 5px;
    margin-left: 10px;
    margin-right: 400px;
    
}

.adress{
    margin-bottom: 15px;
}


#message{
    width: 100%;
    height: 50%;
}

#extra{
    color: red;
}


.copyright p{
    color:dimgrey;
    margin-left: 10px;
    word-spacing: 5px;
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 30px;
    padding-bottom: 5px;
    margin-bottom: 0;
}



.white{
    color:white;
    text-shadow:0 0 3px #000000;
}




#navi{
     font-family: "calistoga", serif;
    text-transform: uppercase;
    color: black
    
}

#shadow{
    font-size: 36px;
    
}


h1{
    font-size: 51px;
    
}

.map{
    border-radius: 10px;
    
    
}




/* HEADER 

============================================ */

header {
    background-image: url(../images/panorama.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}


.home-title {
    margin-top: 200px;
    margin-right: -1%;
    text-shadow:0 0 3px #000000;
    
}

.home-title h1 {}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: aqua;
    background-color: darkblue;
    border-radius: 10px
}





.btn:hover {
    color: darkblue;
    background-color: aqua;
    transition: background-color 2s, color 2s;


}



/* ACTUS


================================================= */

.actus-img{
    height: 500px;
    width: 500px;
        
}

.para {
    color:dimgrey;
    
}


